 <!DOCTYPE html> 
<html>
    <head>
        <title>CinePro-Usuario</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/mainapp/webapp/templatescss/sidebarhorizontal.css">
        <link rel="stylesheet" href="/mainapp/webapp/templatescss/principal.css">
        <link rel="icon"  type="image/png" sizes="25×25" href="./images/carrete.png">
</head>
<body>
	<header id="header">
        <nav class="links" style="--items: 4;">
            <a rel="stylesheet" href="/mainapp/webapp/templates/inicio.html">INICIO</a>
            <span class="line"></span>
        </nav>
    </header>
    
    <div class="content">
        <table>
            <tr>
              <th>Usario</th>
              <th>Contraseña</th>
              <th>Email</th>
            </tr>
            <tr>
              <td>Pedro Paramo</td>
              <td>comalaMurioDeHambre</td>
              <td>PP@gmail.com</td>
            </tr>
            <tr>
                <td>Juan Preciado</td>
                <td>pedroParamoMiPapa</td>
                <td>JP@gmail.com</td>
            </tr>
            <tr>
                <td>Mercedes Colomar</td>
                <td>ruvacaba1212</td>
                <td>MC@gmail.com</td>
              </tr>
            <tr>
                <td>Emanuel Calavera</td>
                <td>elMarrow</td>
                <td>EC@gmail.com</td>
            </tr>
        </table> 
    </div>
</body>
</html>