<!-- SIDEBAR -->
<head>
    <title>CinePro-Compra</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mainapp/webapp/templatescss/sidebarhorizontal.css">
    <link rel="stylesheet" href="/mainapp/webapp/templatescss/principal.css">
    <link rel="icon"  type="image/png" sizes="25×25" href="./images/carrete.png">
</head>
<header id="header" !important>
    <nav class="links" style="--items: 4;">
        <a rel="stylesheet" href="/mainapp/webapp/templates/inicio.html">INICIO</a>
        <a rel="stylesheet" href="/mainapp/webapp/templates/principal.html">PRINCIPAL</a>
        <a rel="stylesheet" href="/mainapp/webapp/templates/compra.html">COMPRA</a>
        <a rel="stylesheet" href="/mainapp/webapp/templates/rentas.html">RENTAS EN LINEA</a>
        <span class="line"></span>
    </nav>
</header>

<!DOCTYPE html>
<html>
  <head>
    <title>Order form</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <body>
        <div class="main-block">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          <h1>BOLETOS</h1>
          <form action="/">
            <div class="info">
              <input type="text" name="name" placeholder="SALA">
              <select>
                <option value="number" disabled selected>Elige una Pelicula</option>
                <option value="10">Avengers</option>
                <option value="20">Viernes 13</option>
                <option value="30">No manches frida</option>
                <option value="40">Cars</option>
                <option value="50">Nemo</option>
              </select>
              <select>
                <option value="number" disabled selected>Cantidad de boletos</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <select>
                <option value="time" disabled selected>Elige Funcion</option>
                <option value="8">8:00am</option>
                <option value="9">9:00am</option>
                <option value="10">10:00am</option>
                <option value="12">12:00pm</option>
                <option value="1">1:00pm</option>
                <option value="3">3:00pm</option>
                <option value="6">6:00pm</option>
                <option value="7">7:00pm</option>
              </select>
              <input type="text" name="name" placeholder="COSTO">
            </div>
            <br>
            <button href="/" class="button">COMPRAR</button>
          </form>
        </div>
      </body>
    </html>