<link rel="stylesheet" href="/mainapp/webapp/templatescss/principal.css">

<!-- SIDEBAR -->
<head>
    <title>CinePro-Usuario</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mainapp/webapp/templatescss/sidebarhorizontal.css">
    <link rel="stylesheet" href="/mainapp/webapp/templatescss/principal.css">
	<link rel="stylesheet" href="/mainapp/webapp/templatescss/textoorientado.css">
    <link rel="icon"  type="image/png" sizes="25×25" href="./images/carrete.png">
</head>
<body>
<header id="header" !important>
    <nav class="links" style="--items: 4;">
        <a rel="stylesheet" href="/mainapp/webapp/templates/inicio.html">INICIO</a>
        <a rel="stylesheet" href="/mainapp/webapp/templates/principal.html">PRINCIPAL</a>
        <a rel="stylesheet" href="/mainapp/webapp/templates/compra.html">COMPRA</a>
        <a rel="stylesheet" href="/mainapp/webapp/templates/rentas.html">RENTAS EN LINEA</a>
        <span class="line"></span>
    </nav>
</header>



<!-- #CodePenChallenge: Reflections -->
<!-- <div class="top">
	<div class="columns">
		<div class="column is-full featured_wrapper p-0">
			<img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/banner.jpg" class="featured">
			<div class="title_wrapper">
				<span class="has-text-white">Trending Today</span>
				<h1 class="title is-1 has-text-white">The Untold Story of the great Lorem Ipsum</h1>
				<button class="button is-medium">Watch It Now</button>
			</div>
		</div>
	</div>
</div> -->
<div class="container">
	<div class="columns is-multiline p-0 pt-6 last">
		<div class="column is-full">
			<p class="titulo" >PELICULAS ESTRENADAS</p>
		</div>
		<div class="column is-one-quarter">
			<img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/image1.PNG">
			
		</div> 
		<div class="column is-one-quarter">
			<img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/image2.PNG">
		</div>
		<div class="column is-one-quarter">
			<img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img3.PNG">
		</div>
		<div class="column is-one-quarter">
			<img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img4.PNG">
		</div>
		<div class="column is-one-quarter">
			<img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img5.PNG">
		</div>
		<div class="column is-one-quarter">
			<img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img6.PNG">
		</div>
		<div class="column is-one-quarter">
			<img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img7.PNG">
		</div>
		<div class="column is-one-quarter">
			<img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img8.PNG">
		</div>
	</div>
	<div class="container" id="noticias">
		<div  class="noticia">
			<DIV class="titulos">"THE LAST WARRIOR"</DIV>
			<br>
			Los escitas, guerreros orgullosos, casi han desaparecido, y los pocos descendientes restantes se han convertido en despiadados asesinos mercenarios. Ivan emprende un alucinante viaje desde Moscú a Belogorye, un mundo de fantasía habitado por personajes de cuentos de hadas y magia rusos.
			<br>
			<br> Horario: 8:00AM 9:00AM 10:00AM 12:00PM 1:00PM 3:00PM 6:00PM 7:00PM 
		</div>
	</div>
	<div class="container" id="noticias1">
		<div  class="noticia">
		<div class="titulos">"THE ASH LAND"</div>
		<br>	
		Espen, conocido como el chico de las cenizas, es el hijo de un pobre granjero. El joven se embarca en una peligrosa aventura con sus hermanos para salvar a la princesa de la región de un malvado monstruo conocido como "el gigante de la montaña".
		<br>
		<br> Horario: 8:00AM 9:00AM 10:00AM 12:00PM 1:00PM 3:00PM 6:00PM 7:00PM 
		</div>
	</div>
	<div class="container" id="noticias2">
		<div  class="noticia">
			<div class="titulos">"HEROES NEVER DIE"</div>
			<br>
			Heroes Never Die es una película dramática de guerra ucraniana de 2017 sobre la Segunda Batalla del Aeropuerto de Donetsk durante la guerra en Donbas.
		<br>
		<br> Horario: 8:00AM 9:00AM 10:00AM 12:00PM 1:00PM 3:00PM 6:00PM 7:00PM 
		</div>
	</div>
	<div class="container" id="noticias3">
		<div  class="noticia">
			<div class="titulos">"THE LAST RESCUE"</div>
		<br>
			The Last Rescue es una película de guerra de 2015 dirigida por Eric Colley y protagonizada por Brett Cullen. Durante la Segunda Guerra Mundial, tres soldados estadounidenses y dos enfermeras del Cuerpo de Ejército quedan varados en territorio enemigo.
		<br>
		<br> Horario: 8:00AM 9:00AM 10:00AM 12:00PM 1:00PM 3:00PM 6:00PM 7:00PM 
		</div>
	</div>
	<div class="container" id="noticias4">
		<div  class="noticia">
			<div class="titulos">"VLAD THE IMPALER"</div>
		<br>
			A mediados del siglo XV, un hombre en Turquía comete asesinatos sangrientos. El gobernante Baba Sultan ordena a un grupo de siete guerreros que lo persigan. Los siete héroes emprenderán un largo largo viaje.
		<br>
		<br> Horario: 8:00AM 9:00AM 10:00AM 12:00PM 1:00PM 3:00PM 6:00PM 7:00PM 
		</div>
	</div>
	<div class="container" id="noticias5">
		<div  class="noticia">
			<div class="titulos">"WILD DEMONS"</div>
		<br>
			Jesse es una chica que llega a Los Angeles, California, para hacer su sueño realidad: convertirse en supermodelo. Pero su juventud y belleza despertará al demonio, y se verá atrapada en un peligroso mundo de envidias y celos en el que las modelos están dispuestas a todo para triunfar.
		<br>
		<br> Horario: 8:00AM 9:00AM 10:00AM 12:00PM 1:00PM 3:00PM 6:00PM 7:00PM 
		</div>
	</div>
	<div class="container" id="noticias6">
		<div  class="noticia">
			<div class="titulos">"THE VIRUS EXPERIMENT"</div>
		<br>
			En un acto espantoso de terrorismo urbano, un veterano desquiciado detona un arma biológica dentro de un edificio federal lleno de gente. Su propósito: Exponer públicamente el desarrollo secreto del gobierno de un gas tóxico que afecta al instante el sistema suprarrenal humano, haciendo que los hombres, mujeres y niños se conviertan en seres inhumanos agresivos y violentos.
		<br>
		<br> Horario: 8:00AM 9:00AM 10:00AM 12:00PM 1:00PM 3:00PM 6:00PM 7:00PM 
		</div>		
	</div>
	<div class="container" id="noticias7">
		<div  class="noticia">
			<div class="titulos">"GLOBAL MELTDOWN"</div>
		<br>
			Con la corteza terrestre destruida, una familia de Washington se lanza a un terreno más elevado, solo para enfrentar amenazas tanto humanas como geológicas.
		<br>
		<br> Horario: 8:00AM 9:00AM 10:00AM 12:00PM 1:00PM 3:00PM 6:00PM 7:00PM 
		</div>
	</div>
</div>


