<!-- SIDEBAR -->
<head>
    <title>CinePro-Compra</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mainapp/webapp/templatescss/sidebarhorizontal.css">
    <link rel="stylesheet" href="/mainapp/webapp/templatescss/principal.css">
	<link rel="stylesheet" href="/mainapp/webapp/templatescss/textoorientado.css">
    <link rel="icon"  type="image/png" sizes="25×25" href="./images/carrete.png">
</head>
<header id="header" !important>
    <nav class="links" style="--items: 4;">
        <a rel="stylesheet" href="/mainapp/webapp/templates/inicio.html">INICIO</a>
        <a rel="stylesheet" href="/mainapp/webapp/templates/principal.html">PRINCIPAL</a>
        <a rel="stylesheet" href="/mainapp/webapp/templates/compra.html">COMPRA</a>
        <a rel="stylesheet" href="/mainapp/webapp/templates/rentas.html">RENTAS EN LINEA</a>
        <span class="line"></span>
    </nav>
</header>

<div class="container">
	<div class="columns is-multiline p-0 pt-6 last">
		<div class="column is-full">
			<p class="titulo" >PELICULAS A RENTAR</p>
		</div>
		<div class="column is-one-quarter">
			<img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1561141348-513CT1lYxaL.jpg?crop=1xw:1xh;center,top&resize=480:*">
			
		</div> 
		<div class="column is-one-quarter">
			<img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1561060629-51ebhJXUZqL.jpg?crop=1xw:1xh;center,top&resize=480:*">
		</div>
		<div class="column is-one-quarter">
			<img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1657095733-51yHtvZGa5S._SL500_.jpg?crop=1xw:1xh;center,top&resize=768:*">
		</div>
	</div>
<div class="container" id="noticiasR1">
		<div  class="noticia">
			<DIV class="titulos">"TITANIC"</DIV>
			<br>
			Jack es un joven artista que gana un pasaje para viajar a América en el Titanic, el transatlántico más grande y seguro jamás construido. A bordo del buque conoce a Rose, una chica de clase alta que viaja con su madre y su prometido Cal, un millonario engreído a quien solo interesa el prestigio de la familia de su prometida. Jack y Rose se enamoran a pesar de las trabas que ponen la madre de ella y Cal en su relación. Mientras, el lujoso transatlántico se acerca a un inmenso iceberg.
			<br>
			<br><DIV class="titulos">PRECIOS DERIVADOS: DIA=$30 MES=$100 AÑO=$250</DIV> 
		</div>
	</div>
	<div class="container" id="noticiasR2">
		<div  class="noticia">
		<div class="titulos">"AVENGERS ENDGAME"</div>
		<br>	
		Después de los eventos devastadores de "Avengers: Infinity War", el universo está en ruinas debido a las acciones de Thanos, el Titán Loco. Con la ayuda de los aliados que quedaron, los Vengadores deberán reunirse una vez más para intentar detenerlo y restaurar el orden en el universo de una vez por todas.
		<br>
		<br> <DIV class="titulos">PRECIOS DERIVADOS: DIA=$30 MES=$100 AÑO=$250</DIV> 
		</div>
	</div>
	<div class="container" id="noticiasR3">
		<div  class="noticia">
			<div class="titulos">"PULP FICTION"</div>
			<br>
			La vida de un boxeador, dos sicarios, la esposa de un gánster y dos bandidos se entrelaza en una historia de violencia y redención.
		<br>
		<br> <DIV class="titulos">PRECIOS DERIVADOS: DIA=$30 MES=$100 AÑO=$250</DIV> 
		</div>
	</div>
</div>