
@import url('https://fonts.cdnfonts.com/css/google-sans');

body{
    background-color: grey;
}
.contenedor{
    display: flex;
}
#posicionboton{
    left: 900px;
    margin-top: 100px;
    position: absolute;
}
#logo{
    width: 300px;
    margin-left: 520px;
    
}
#Anuncio{
    margin-left: 8px;
    color:goldenrod;
    font-family: 'Product Sans Black', sans-serif;
    font-size: 25px;
    text-align:center;
    background-image: url("/mainapp/webapp/templates/images/claqueta.png");
    background-size:contain;
    background-repeat:no-repeat;
    width: 500px;
    height: 600px;
}
#footer{
    text-align: center;
    color:white;
    font-family: 'Product Sans Black', sans-serif;
    position: absolute;
    bottom: 0px;
    background-color:#9fa3a9;
    width:100%;
}
